<dl class="fn-clear ui-feed">
	<dt class="ui-feedAvatar">
		<a href="/<%= uid %>">
			<img class="ui-feedAvatar-img" src="<%= avatarImage %>" />
		</a>
	</dt>
	
	<dd class="ui-feed-content">
		
		<p class="ui-publishContent">
			<a title="<%= nickname %>" href="/u/"><%= nickname %></a>：
			<em><%= content %></em>
		</p>
		
		<!-- 微博状态操作 -->
		<p class="ui-feedOperations">
			<span>
				<a href="javascript:void(0);">转发(<%= forwardNum %>)</a>
				<i class="ui-feedOperations-line">|</i>
				<a href="javascript:void(0);">收藏</a>
				<i class="ui-feedOperations-line">|</i>
				<a href="javascript:void(0);">评论(<%= commentsNum %>)</a>
			</span>
			<a href="/1642668915/y00mHjxpD" title="2012-01-09 19:53" date="<%= publishdate %>" class="date" ><%= dateFormat %></a>
		</p>
		<!-- /微博状态操作 -->
	</dd>
	
</dl>