body {
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}
a {
	text-decoration: none;
	word-wrap: break-word;
}
a:hover {
	text-decoration:underline;
}
textarea {
	resize: none;
	outline: none;
}

.global-header {
	width: 960px;
	margin: auto;
	height: 40px;
}
.global-header .logo {
	width: 185px;
	height: 40px;
	text-align: center;
	position:relative;
}
.global-header .logo a {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -81px;
	margin-top: -16px;
	font-size: 22px;
}
