<div class="ui-login">
	<div class="ui-login-login">
		<div class="ui-loginForm">
			<form  method="post" action="/index/login">
				<div class="ui-loginForm-row">
					<label class="ui-loginForm-label j-label" for="username">帐号</label>
					<input class="ui-loginForm-input text j-input" type="text" name="username" />
				</div>
				<div class="ui-loginForm-row">
					<label class="ui-loginForm-label j-label" for="password">密码</label>
					<input class="ui-loginForm-input text j-input" type="password" name="password" />
				</div>
				<div class="ui-loginForm-row">
					<input type="checkbox"/>记住登录状态&nbsp&nbsp
					<a href="/">忘记密码？</a>
				</div>
				<div class="ui-loginForm-row">
					<input class="ui-loginForm-loginbtn" type="submit" value="登录" />
					<a href="/index/signup">立即注册</a>	
				</div>
			</form>
			
		</div>
	</div>
</div>

<div class="main fn-clear sl-shadow">
	<div class="coll">
        留着空白
    </div>
    <!-- colc -->
    <div class="colc">
    	<div class="colc-main">
	        <div class="ui-happend-title">
	            <div class="ui-top-title-title">大家正在说</div>
	        </div>
	        <div class="ui-happend-main">
	        	<%- weiboBody %>
	        	<div class="ui-happend-bottom"></div>
	        </div>
        </div>
    </div>
    <!-- colr -->
    <div class="colr">
        <div class="ui-top">
            <div class="ui-top-title">
            	<div class="fn-right ui-top-title-follow">粉丝数</div>
                <div class="ui-top-title-title">人气排行TOP<span>10</span></div>
            </div>
            <div class="ui-top-main">
            	<ul>
            		<% for(var i in top ) { %>
            		<li class="ui-top-main-li j-top-row">
            			<a href="/<%= top[i].uid %>">
            				<i class="fn-right"><%= top[i].followerNum %></i>
            				<strong class="fn-right"><%= top[i].nickname %></strong>
            				<var><%= (+i+1) %></var>
            				<span class="ui-top-main-avatar">
            					<img src="<%= top[i].avatarImage %>" />
            				</span>
            			</a>
            		</li>
            		<% } %>
            	</ul>
            </div>
        </div>
    </div>
    <!-- colr -->
</div>