<div class="ui-signForm">
<form method="post" action="/index/signup" >
	<div class="ui-loginForm-row">
		<label for="nickname">昵称：</label><input class="text ui-loginForm-input" type="text" name="nickname" /><br />
	</div>
	<div class="ui-loginForm-row">
		<label for="username">帐号：</label><input class="text ui-loginForm-input" type="text" name="username" /><br />
	</div>
	<div class="ui-loginForm-row">
		<label for="password">密码：</label><input class="text ui-loginForm-input" type="password" name="password" /><br />
	</div>
	<div class="ui-loginForm-row">
	<label for="repassword">重复密码：</label><input class="text ui-loginForm-input" type="password" name="repassword" /><br />
	</div>
	<div class="ui-loginForm-row">
	<label for="email"></label>电子邮箱：<input type="text" class="text ui-loginForm-input" name="email"/><br />
	</div>
	<div class="ui-loginForm-row">
		<input type="submit" value="注册"/>
		<input type="reset"  value="重置"/><br />
	</div>
</form>
</div>
