<div id="main">
	<div class="fn-clear sl-shadow" id="content">
		<!-- 左侧栏 -->
		<div class="fn-left" id="content-left">
			<div id="sider-left">
				用户名：<%= variable.nickname %><br />
				UID：<%= variable.uid %>
			</div>
		</div>
		<!-- /左侧栏 -->
		
		<div class="fn-right" id="content-right">
			<div class="fn-left" id="content-list">
				<div class="weibo-main">
					<!-- 微博发布框 -->
					<div id="weibo-publish">
						<div class="ui-wTextarea">
							<div class="ui-wTextarea-top"></div>
							
							<div class="ui-wTextarea-input-wrapper">
								<div class="ui-wTextarea-input">
									<div class="ui-wTextarea-input-bottom">
										<textarea class="ui-wTextarea-area"></textarea>
									</div>
								</div>
							</div>
							
							<div class="ui-wTextarea-btn">
								<a href="javascript:void(0);" class="ui-wTextarea-btn-disable" node-type="publishBtn" title="发布微博按钮"></a>
							</div>
							
							<div class="ui-wTextarea-operations">
								<a href="javascript:void(0);" class="face" action-type="face" title="表情">表情</a>
								<a href="javascript:void(0);" class="img" action-type="image" title="图片">图片</a>
								<a href="javascript:void(0);" class="movie" action-type="video" title="视频">视频</a>
								<a href="javascript:void(0);" class="music" action-type="music" title="音乐">音乐</a>
								<a href="javascript:void(0);" class="topic" action-type="topic" title="话题">话题</a>
								<a href="javascript:void(0);" class="vote" action-type="vote" title="投票">投票</a>
							</div>
						</div>
					</div>
					<!-- /微博发布框 -->
					<!-- 微博feed列表 -->
					<div class="weibo-classify">
						
					</div>
					<div class="weibo-feed" id="weibo-feed">
						<%- inboxBody %>
					</div>
					<!-- /微博feed列表 -->
				</div>
			</div>
			<!-- 右侧栏 -->
			<div class="fn-right" id="sider-right">
				
			</div>
			<!-- /右侧栏 -->
		</div>
	</div>
</div>